.bg{
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.linier{
    background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
border-radius: 2px;

}
.footer{
    background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%); 
}